[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
clickhouse-driver = "*"

[dev-packages]
black = "==18.4a4"
isort = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.9"
